<h1>Listing users</h1>

<table>

  <%= render partial: "user_table_heading" %>

  <tbody>
    <% users.each do |user| %>
      <tr>
        <%= render partial: "user_row", locals: {user: user} %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_registration_path %>
