<h1>Listing galleries</h1>

<table>
  <%= render partial: "gallery_table_heading" %>

  <tbody>
    <% galleries.each do |gallery| %>
    <tr>
      <%= render partial: "gallery_row", locals: {gallery: gallery} %>
    <% end %>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery', new_gallery_path %>
