<h1>Select galleries</h1>

<table>
  <%= render partial: "gallery_table_heading" %>

  <tbody>
    <% galleries.each do |gallery| %>
    <tr>
    	<%= render partial: "select_gallery_row", locals: {gallery: gallery, image: image} %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gallery', new_gallery_path %>
