<h1>Listing images</h1>

<table>
  <%= render partial: 'image_table_heading' %>

  <tbody>
    <% images.each do |image| if image.owner == current_user or current_user.shared_images.include? image and image.root_version? %>
      <tr>
        <%= render partial: 'image_row', locals: {image: image} %>
      </tr>
    <% end end %>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
